include LICENSE README
recursive-include pystatic/project/output *
recursive-include pystatic/project/templates *.html
recursive-include pystatic/project/assets *.png *.css *.js *.eot *.svg *.ttf *.woff
recursive-include pystatic/project/conf *.yaml